<p>
  <strong>Name:</strong>
  <%= @seed.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @seed.description %>
</p>

<%= link_to 'Edit this seed', edit_seed_path(@seed) %><br>
<%= link_to 'Back to the list of seeds', seeds_path %>
